.header-image {
  color: white;
  background-color: green;
  padding: 1.5em;

}
.header-image a{
  text-decoration: none;
  color:white;
}
.header-image div{
  float: left;
}
.jumbotron img{
  width: 100%;
}

.element-list{
  padding: 1.5em;
  color:black;
}
.element-list a{
color: grey;
font-size: 3em;
font-weight: bolder;
text-decoration: none;}

#colophon{
color: white;
padding: 2em;
font-size: 2em;
background-color: red;

}

.content-text {
padding: 2em;
font-size: 2em;

}

#recipe-title{
  color: grey;
  font-weight: bolder;

}
#vote-section{
  padding-top: 2em;
  color:red;
}
.display-3{
  padding-top: 1em;
}
.display-1{
  color: red;
}
#form-1{
  padding-top: 2em;
  color:green;
  text-align: center;
}
#id_rating li{
  list-style: none;
  padding-left: 40px;

}
