{%extends 'base.html'%}
{%load static%}
{%block title%}Pyzza Website | Home Page {%endblock%}

{%block content%}
<div class="jumbotron jumbotron-fluid">
  <img  src="{% static 'pyzza/img/pizza_jumbo.png'%}" alt="Pyzza image" />
  <div class="container ">
    <h1 class="display-4">Ricette speciali per palati coraggiosi</h1>
    <p class="lead">Scopri nuove sensazionali ricette ricche di gusto e fantasia.</p>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-8">
 
    {% for recipe in recipes %}
    <div class="element-list">
      <a href="{%url 'recipe_detail' recipe.id %}">
        {{recipe.name}}
      </a>
      <div >
        <p>{{recipe.description}}</p>
      </div>

    </div>
    {%endfor%}
  </div>
</div>
{%endblock%}
